@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,900;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('../components/layouts/admin/css/dashboard-layout.css');

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        @apply font-nunito text-[15px] !text-gray-900;
    }

    body {
        @apply transition ease-linear duration-[0.4s];
    }

    a {
        @apply !text-gray-900;
    }

    a,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
        @apply !m-0;
    }
}

@layer components {
    .product-item {
        @apply block rounded-md border border-gray-200 shadow-lg;
    }

    .btn {
        @apply rounded-md px-4 py-2 focus:outline-none cursor-pointer;
    }

    .btn--default {
        @apply !text-gray-900 bg-gray-200 py-2.5 px-8 text-base hover:bg-gray-300 active:bg-gray-400;
    }

    .btn--primary {
        @apply !text-white bg-orange-400 py-2.5 px-8 text-base hover:bg-orange-500 hover:!text-slate-800 font-semibold active:bg-orange-600;
    }

    input,
    select,
    textarea {
        @apply rounded border py-2.5 px-3 ring-red-300 focus:ring-2 outline-none text-lg focus:bg-white;
    }

    .select-box__quantity {
        @apply cursor-pointer;
    }

    .alert--error {
        @apply my-3 rounded-md bg-red-200 py-2.5 px-3 text-red-700 inline-block font-semibold italic;
    }

    .alert--success {
        @apply my-3 rounded-md bg-green-200 py-2.5 px-3 text-green-700 inline-block font-semibold italic;
    }

    /* CSS Message Antd */
    .customize__antd--message-success
        .ant-message-custom-content.ant-message-success {
        @apply !flex !items-center !gap-x-2;
    }
    .customize__antd--message-error
        .ant-message-custom-content.ant-message-error {
        @apply !flex !items-center !gap-x-2;
    }

    /* CSS style Header Component */
    .dropdown-profile-user {
        @apply w-full text-left rounded shadow-md border-t-[3px];
    }
    .dropdown-profile-user .ant-dropdown-menu-item {
        @apply py-3 pl-5 pr-10;
    }
    .dropdown-link {
        @apply text-lg font-nunito flex items-center gap-x-2 py-1 px-3;
    }

    /* Customize CSS Input Antd */
    .ant-input-affix-wrapper.input-customize__css {
        @apply border-gray-300 border-2 hover:!border-blue-300;
    }

    /* Customize CSS Space Antd */
    .space-customize--css .ant-space-item {
        @apply  flex items-center justify-center;
    }

    /* Customize CSS Select Antd */
    .select-antd__customize .ant-select-selector {
        @apply !h-full !py-[0.6rem] !border-gray-300 text-[14px] !border-2 flex items-center !rounded-[0.5rem] hover:!border-blue-300;
    }
    .select-antd__customize .ant-select-arrow {
        @apply !top-1/2 transform -translate-y-1/2 !rounded-[0.5rem];
    }
    .textarea-customize__css {
        @apply !border-2 border-gray-300 !rounded-[0.5rem] resize-none;
    }

    /* CSS Button */
    .btn--order-now {
        @apply !bg-orange-400 !text-base hover:!text-white !h-full !py-2.5 !px-6 !capitalize !rounded-md !border-orange-400 hover:!bg-orange-500 active:!bg-orange-600;
    }
    .btn--reset-order {
        @apply bg-white !border-orange-400 !text-orange-400 !text-base !h-full !py-2.5 !px-6 !capitalize !rounded-md hover:!text-white hover:!bg-orange-500 active:!bg-orange-600;
    }

    /* Hidden Arrow Input Number */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}
