@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,900;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('../components/layouts/admin/css/dashboard-layout.css');
@import url('../components/admin/orders/css/admin-orders.css');
@import url('../components/product-detail/css/product-detail.css');
@import url('../components/cart/css/cart-page.css');
@import url('../components/admin/products/css/admin-products.css');
@import url('../components/layouts/index/css/default-layout.css');
@import url('../components/admin/product-categories/css/admin-product-category.css');

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        @apply font-nunito text-[15px] !text-gray-900;
    }

    body {
        @apply transition ease-linear duration-[0.4s];
    }

    a {
        @apply !text-gray-900;
    }

    a,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
        @apply !m-0;
    }
}

@layer components {
    /* Button Component CSS */
    .btn {
        @apply rounded text-base px-4 py-2 font-semibold focus:outline-none cursor-pointer;
    }

    .btn--default {
        @apply text-black bg-white border-2 border-black hover:bg-gray-200/90 active:bg-gray-400;
    }

    .btn__primary--index {
        @apply !text-white bg-black border-2 border-black hover:bg-black/80 active:bg-gray-700;
    }

    .btn__primary--admin {
        @apply !text-white bg-green-600 border-2 border-green-600 hover:bg-green-500 active:bg-green-800;
    }

    .btn--close {
        @apply cursor-pointer !text-gray-500/60 transform scale-[0.8] transition-all duration-300 ease-linear 
        hover:scale-100 hover:rotate-180 hover:!text-gray-900;
    }

    /* Form Component CSS */
    input,
    select,
    textarea {
        @apply rounded border py-2.5 px-3 ring-red-300 focus:ring-2 outline-none text-lg focus:bg-white;
    }

    .select-box__quantity {
        @apply cursor-pointer;
    }

    .alert--error {
        @apply my-3 rounded-md bg-red-200 py-2.5 px-3 text-red-700 inline-block font-semibold italic;
    }

    .alert--success {
        @apply my-3 rounded-md bg-green-200 py-2.5 px-3 text-green-700 inline-block font-semibold italic;
    }

    /* CSS Message Antd */
    .customize__antd--message-success
        .ant-message-custom-content.ant-message-success,
    .customize__antd--message-error
        .ant-message-custom-content.ant-message-error {
        display: flex;
        align-items: center;
        column-gap: 0.5rem !important;
    }
    .customize__antd--message-loading
        .ant-message-custom-content.ant-message-loading {
        display: flex;
        align-items: center;
        column-gap: 0.75rem /* 12px */ !important;
    }

    /* CSS style Header Component */
    .dropdown-profile-user {
        width: 100%;
        text-align: left;
        border-top-width: 3px;
        border-radius: 0.25rem /* 4px */;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1);
    }
    .dropdown-profile-user .ant-dropdown-menu-item {
        padding: 0.75rem 2.5rem 0.75rem 1.25rem;
    }
    .dropdown-link {
        font-size: 1.125rem /* 18px */;
        line-height: 1.75rem /* 28px */;
        font-family: Nunito, sans-serif;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        padding: 0.25rem 0.75rem;
    }

    /* Customize CSS Form.Item Antd */
    .form-create-product .ant-form-item-explain-error,
    .form-create-category .ant-form-item-explain-error {
        color: #ff4d4f;
        padding-top: 8px;
        font-size: 13px;
    }

    .form-create-category span.ant-input-suffix span.ant-form-item-feedback-icon.ant-form-item-feedback-icon-success {
        display: flex !important;
    }

    /* Customize CSS Input Antd */
    .ant-input-affix-wrapper.input-customize__css {
        @apply border-gray-300 border-2 hover:!border-blue-300;
    }

    /* Customize CSS Space Antd */
    .space-customize--css .ant-space-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Customize CSS Select Antd */
    .select-antd__customize .ant-select-selector {
        height: 100%;
        padding: 0.6rem 0;
        font-size: 14px;
        border: 2px solid rgb(209 213 219);
        display: flex;
        align-items: center;
        border-radius: 0.5rem /* 8px */ !important;
    }
    .select-antd__customize .ant-select-selector:hover {
        border-color: rgb(147 197 253) !important;
    }
    .select-antd__customize .ant-select-arrow {
        top: 50% !important;
        transform: translateY(-50%);
        border-radius: 0.5rem /* 8px */ !important;
    }
    .textarea-customize__css {
        border: 2px solid rgb(209 213 219);
        resize: none;
        border-radius: 0.5rem /* 8px */ !important;
    }

    /* Hidden Arrow Input Number */
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}
